.imageupload {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgb(85, 85, 85);
  border-top:10px transparent rgb(85, 85, 85);
  
}

.imageupload__progress {
  width: 100%;
}

.image__Input {
  margin: 10px;
  background-color: rgb(63, 63, 63);
  padding: 10px;
}

.image__file {
  margin: 10px;
  }

.imageFile__button {
  margin-left: 350px;
}