* {
  margin: 0;
}

.app {
  background-color:rgb(36, 36, 36);
}

.app__postsRight {
  margin-left: 20px;
}

.app__posts {
  padding: 20px;
  display: flex;
  justify-content: center;
}
/* rgb(38, 40, 43) */
.app__header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: rgb(38, 40, 43);
  padding: 20px;
  border-bottom: 1px solid black;
  /* keep aspect ratio non-stretched */
  object-fit: contain;
  display: flex;
  justify-content: space-between;
}

.app_signup {
  display: flex;
  /* Lines up input fields */
  flex-direction: column;
}

.app__headerImage {
  margin: -300px;
  margin-left: -40px;
  padding-top: 5px;
  
  object-fit: contain;
}

.app__loginContainer {
  background-color: rgb(144, 164, 255);
}

.logOut__button {
  background-color: rgb(144, 164, 255);
}