i.Nav {
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.0975);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    -webkit-transition: height 0.2s ease-in-out;
    transition: height 0.2s ease-in-out;
    height: 77px;
    border-bottom: 1px solid black;
    
  }
  .Nav-menus {
    display: flex;
    flex-direction: row;
    height: 77px;
    width: 70%;
    margin: 0 auto;
    padding: 26px 40px;
    
  }
  .Nav-brand-logo {
    display: block;
    margin-left: -100px;
    height: 200px;
    width: 200px;
    margin-top: -50px;
    object-fit: contain;
  }
  